In [2]:
import csv
import pandas as pd

Findind Outlier Data

In [3]:
datafile = pd.read_csv('./datafile.csv')

In [4]:
datafile.columns

Index(['order_id', 'shop_id', 'user_id', 'order_amount', 'total_items',
       'payment_method', 'created_at'],
      dtype='object')

In [5]:
#checking the AOV mean calculation
datafile["order_amount"].mean()

3145.128

In [6]:
datafile.head(5)

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [7]:
#sorting the data by highest order_amount
df_sorted = datafile.sort_values(["order_amount"], ascending=False).head(100)

#df_sorted

In [8]:
#sorting the data more indepth to get see outlier data
outlier_data = df_sorted.loc[(df_sorted["order_amount"] > 1760) & (df_sorted["total_items"] >= 1)]
pd.set_option('display.max_rows', 500)
outlier_data.sort_values(["order_amount"], ascending=False).head(500)

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
2153,2154,42,607,704000,2000,credit_card,2017-03-12 4:00:00
3332,3333,42,607,704000,2000,credit_card,2017-03-24 4:00:00
1362,1363,42,607,704000,2000,credit_card,2017-03-15 4:00:00
4868,4869,42,607,704000,2000,credit_card,2017-03-22 4:00:00
2969,2970,42,607,704000,2000,credit_card,2017-03-28 4:00:00
1562,1563,42,607,704000,2000,credit_card,2017-03-19 4:00:00
1104,1105,42,607,704000,2000,credit_card,2017-03-24 4:00:00
15,16,42,607,704000,2000,credit_card,2017-03-07 4:00:00
4056,4057,42,607,704000,2000,credit_card,2017-03-28 4:00:00
4882,4883,42,607,704000,2000,credit_card,2017-03-25 4:00:00
1436,1437,42,607,704000,2000,credit_card,2017-03-11 4:00:00
2297,2298,42,607,704000,2000,credit_card,2017-03-07 4:00:00
4646,4647,42,607,704000,2000,credit_card,2017-03-02 4:00:00
2835,2836,42,607,704000,2000,credit_card,2017-03-28 4:00:00
60,61,42,607,704000,2000,credit_card,2017-03-04 4:00:00
1602,1603,42,607,704000,2000,credit_card,2017-03-17 4:00:00
520,521,42,607,704000,2000,credit_card,2017-03-02 4:00:00
691,692,78,878,154350,6,debit,2017-03-27 22:51:43
2492,2493,78,834,102900,4,debit,2017-03-04 4:37:34
3724,3725,78,766,77175,3,credit_card,2017-03-16 14:13:26
2564,2565,78,915,77175,3,debit,2017-03-25 1:19:35
4420,4421,78,969,77175,3,debit,2017-03-09 15:21:35
1259,1260,78,775,77175,3,credit_card,2017-03-27 9:27:20
4715,4716,78,818,77175,3,debit,2017-03-05 5:10:44
2906,2907,78,817,77175,3,debit,2017-03-16 3:45:46
2690,2691,78,962,77175,3,debit,2017-03-22 7:33:25
3403,3404,78,928,77175,3,debit,2017-03-16 9:45:05
4192,4193,78,787,77175,3,credit_card,2017-03-18 9:25:32
2495,2496,78,707,51450,2,cash,2017-03-26 4:38:52
493,494,78,983,51450,2,cash,2017-03-16 21:39:35
2452,2453,78,709,51450,2,cash,2017-03-27 11:04:04
2818,2819,78,869,51450,2,debit,2017-03-17 6:25:51
511,512,78,967,51450,2,cash,2017-03-09 7:23:14
2512,2513,78,935,51450,2,debit,2017-03-18 18:57:13
617,618,78,760,51450,2,cash,2017-03-18 11:18:42
2821,2822,78,814,51450,2,cash,2017-03-02 17:13:25
3167,3168,78,927,51450,2,cash,2017-03-12 12:23:08
4311,4312,78,960,51450,2,debit,2017-03-01 3:02:10
4079,4080,78,946,51450,2,cash,2017-03-20 21:14:00
490,491,78,936,51450,2,debit,2017-03-26 17:08:19
4412,4413,78,756,51450,2,debit,2017-03-02 4:13:39
3101,3102,78,855,51450,2,credit_card,2017-03-21 5:10:34
3705,3706,78,828,51450,2,credit_card,2017-03-14 20:43:15
1529,1530,78,810,51450,2,cash,2017-03-29 7:12:01
2773,2774,78,890,25725,1,cash,2017-03-26 10:36:43
3440,3441,78,982,25725,1,debit,2017-03-19 19:02:54
1419,1420,78,912,25725,1,cash,2017-03-30 12:23:43
4584,4585,78,997,25725,1,cash,2017-03-25 21:48:44
160,161,78,990,25725,1,credit_card,2017-03-12 5:56:57
2548,2549,78,861,25725,1,cash,2017-03-17 19:36:00
3085,3086,78,910,25725,1,cash,2017-03-26 1:59:27
1384,1385,78,867,25725,1,cash,2017-03-17 16:38:06
3151,3152,78,745,25725,1,credit_card,2017-03-18 13:13:07
1452,1453,78,812,25725,1,credit_card,2017-03-17 18:09:54
4505,4506,78,866,25725,1,debit,2017-03-22 22:06:01
3780,3781,78,889,25725,1,cash,2017-03-11 21:14:50
1193,1194,78,944,25725,1,debit,2017-03-16 16:38:26
2270,2271,78,855,25725,1,credit_card,2017-03-14 23:58:22
2922,2923,78,740,25725,1,debit,2017-03-12 20:10:58
1056,1057,78,800,25725,1,debit,2017-03-15 10:16:45
4918,4919,78,823,25725,1,cash,2017-03-15 13:26:46
4040,4041,78,852,25725,1,cash,2017-03-02 14:31:12
1204,1205,78,970,25725,1,credit_card,2017-03-17 22:32:21

Using different Metric calculation

In [9]:
datafile["order_amount"].median()

284.0

In [10]:
df_copy = datafile.copy()

In [11]:
updated_df = df_copy.drop(df_copy[df_copy["order_amount"] >= 25725].index)

#updated_df.sort_values(["order_amount"], ascending=False).head(500)

In [12]:
updated_df.mean()

order_id        2499.551347
shop_id           49.846465
user_id          849.752279
order_amount     302.580514
total_items        1.994734
dtype: float64